<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>
        <div class="input-wrapper">
            <label for="input-name">Nick</label>
            <input type="text" name="Nome"/>
        </div>

        <div class="input-wrapper">
            <label for="input-institution">Senha</label>
            <input type="text" name="Preço">
        </div>

        <div class="input-wrapper">
            <label for="input-institution">Repetir Senha</label>
            <input type="text" name="Preço">
        </div>

        <br>

        <button type="submit" class="button">Login</button>
</body>

</html>