<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Postar
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
      </div>
      <div class="modal-body">
        <div class="input-wrapper">
            <label for="input-name">Título</label>
            <input type="text" name="Nome"/>
        </div>

        <div class="input-wrapper">
            <label for="input-institution">Conteúdo</label>
            <input type="text" name="Preço">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Postar</button>
      </div>
    </div>
  </div>
</div>

